#messages-container {
  background-color: black;
  width: 50%;
  max-width: 950px;
  margin: auto;
  margin-top: 70px;
}

#messages-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

#endless-links-msg-div {
  margin-bottom: 30px;
}

.top-message-links {
  color: #004daa;
  text-decoration: none;
  background-color: black;
  text-size-adjust: none;
  font-size: 20px;
  border-bottom: 0.5px solid white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 10px 0 10px 0;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  outline: none;
}

#messages-parent-div {
  padding: 10px;
  height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#messages-parent-div::-webkit-scrollbar {
  display: none;
}

.messages-back-link {
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

.messages-header-username {
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
}

.messages-header-username:hover {
  text-decoration: underline;
}

.messages-conversation-del-link {
  font-size: 20px;
}

.current-user-msg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 50px;
}

.message-date {
  width: 100%;
  text-align: center;
  color: rgb(167, 167, 167);
  font-size: 14px;
  margin-bottom: 10px;
}

.current-user-message-body-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.msg-delete-link {
  font-size: 22px;
  margin-right: 20px;
}

.current-user-message-body {
  border: 1px solid white;
  background-color: rgb(32, 32, 32);
  padding: 15px;
  border-radius: 10px;
  max-width: 300px;
  width: fit-content;
  word-wrap: break-word;
  text-size-adjust: none;
}

.other-user-message-container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.message-avatar {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  margin-right: 20px;
}

.other-user-username {
  margin-bottom: 7px;
  font-size: 14px;
  color: rgb(167, 167, 167);
}

.other-user-message-body {
  border: 1px solid white;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 10px;
  max-width: 300px;
  width: fit-content;
  word-wrap: break-word;
  text-size-adjust: none;
}

.message-form {
  width: 100%;
  display: flex;
}

.message-text-area {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 0px;
  border-radius: 30px 0 0 30px;
  background-color: black;
  color: white;
  outline: none;
  resize: none;
  padding: 20px 10px 5px 20px;
  height: 100%;
  display: block;
  flex: 10;
  font-size: 15px;
}

.message-submit {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 0px;
  border-radius: 0 30px 30px 0;
  display: block;
  flex: 1;
  background-color: black;
  color: rgb(32, 167, 255);
  outline: none;
  font-size: 15px;
  font-weight: 900;
}

@media only screen and (max-width: 1700px) {
  #messages-container {
    width: 55%;
  }
}

@media only screen and (max-width: 1600px) {
  #messages-container {
    width: 60%;
  }
}

@media only screen and (max-width: 1500px) {
  #messages-container {
    width: 65%;
  }
}

@media only screen and (max-width: 1400px) {
  #messages-container {
    width: 70%;
  }
}

@media only screen and (max-width: 1300px) {
  #messages-container {
    width: 75%;
  }
}

@media only screen and (max-width: 1200px) {
  #messages-container {
    width: 80%;
  }
}

@media only screen and (max-width: 1100px) {
  #messages-container {
    width: 85%;
  }
}

@media only screen and (max-width: 1000px) {
  #messages-container {
    width: 100%;
  }

  #messages-header {
    padding: 25px;
    margin-bottom: 10px;
    border-bottom: 3px solid white;
  }

  .messages-back-link {
    font-size: 40px;
    margin-right: 30px;
  }

  .top-message-links {
    font-size: 50px;
    padding: 20px 0 20px 0;
  }

  .messages-header-username {
    font-size: 35px;
  }

  .messages-conversation-del-link {
    font-size: 40px;
  }

  #messages-parent-div {
    height: 80vh;
    max-height: 80vh;
    padding: 20px;
  }

  .current-user-msg-container {
    margin-bottom: 100px;
  }

  .msg-delete-link {
    font-size: 30px;
    text-size-adjust: none;
    margin-right: 20px;
  }

  .message-date {
    text-size-adjust: none;
    font-size: 28px;
    margin-bottom: 25px;
  }

  .current-user-message-body {
    padding: 15px;
    font-size: 35px;
    max-width: 500px;
    text-size-adjust: none;
  }

  .other-user-message-container {
    margin-bottom: 100px;
  }

  .message-avatar {
    height: 70px;
    width: 70px;
    margin-right: 20px;
  }

  .other-user-username {
    margin-bottom: 20px;
    font-size: 28px;
    text-size-adjust: none;
  }

  .other-user-message-body {
    padding: 15px;
    font-size: 35px;
    text-size-adjust: none;
    max-width: 500px;
  }

  #message-form-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .message-form {
    margin: auto;
    width: 90%;
  }

  $msgTxtAreaFsize: 30px;

  .message-text-area {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-right: 0px;
    padding: 30px 10px 10px 20px;
    height: 100px;
    font-size: $msgTxtAreaFsize;
  }

  .message-text-area::-webkit-input-placeholder {
    font-size: $msgTxtAreaFsize;
  }

  .message-text-area:-moz-placeholder {
      font-size: $msgTxtAreaFsize;
  }

  .message-text-area::-moz-placeholder {
      font-size: $msgTxtAreaFsize;
  }

  .message-text-area:-ms-input-placeholder {
      font-size: $msgTxtAreaFsize;
  } 
  
  .message-submit {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    border-left: 0px;
    font-size: 30px;
    padding-right: 20px;
  }
}