#nav-clearance {
  margin-top: 55px;
}

#nav-bar {
  border-bottom: 0.5px solid rgb(158, 158, 158);
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#inner-nav-div {
  width: 50%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#nav-right {
  justify-self: end;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav-logo-link {
  margin-top: 5px;
  justify-self: start;
}

#nav-logo {
  height: 29px;
  width: 103px;
  display: block;
}

#nav-form {
  height: 65%;
  display: flex;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
  width: 70%;
}

#nav-search {
  border: 0px;
  background-color: rgb(36, 36, 36);
  color: white;
  outline: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  flex: 4;
}

#nav-search-btn {
  flex: 1;
  background-color: rgb(36, 36, 36);
  border: 0px;
  border-radius: 0 5px 5px 0;
  height: 100%;
  width: 100%;
  outline: none;
}

#nav-mobile-search {
  display: none;
}

#nav-link {
  display: block;
}

.nav-icon-link {
  font-size: 22px;
}

.nav-link-txt {
  margin-left: 7px;
}

#nav-prof-pic {
  border-radius: 100%;
  display: block;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#nav-drop-content {
  display: none;
  position: absolute;
  transform: translate(-80%, 5%);
  background-color: rgb(0, 0, 0);
  width: 200px;
  z-index: 12;
}

#nav-drop-content a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

#nav-drop-content a:hover {
  background-color: rgb(19, 19, 19);
}

#drp-arrow {
  margin-right: 10px;
  text-align: right;
}

#nav-log-out {
  border-top: 1px solid rgb(37, 37, 37);
}

#nav-sign-out {
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

@media only screen and (max-width: 1700px) {
  #inner-nav-div {
    width: 75%;
  }
}

@media only screen and (max-width: 1500px) {
  #nav-bar {
    height: 65px;
  }

  #nav-clearance {
    margin-top: 67px;
  }

  #nav-logo {
    height: 35px;
    width: 133px;
  }

  #nav-form {
    height: 70%;
    width: 75%;
  }

  #nav-search {
    font-size: 15px;
  }

  #nav-right {
    width: 80%;
  }

  .nav-icon-link {
    font-size: 27px;
  }

  #nav-prof-pic {
    height: 35px;
    width: 35px;
  }

  #nav-drop-content {
    width: 330px;
  }

  .nav-drop-links {
    font-size: 20px;
  }

  .nav-link-txt {
    font-size: 20px;
  }

  #inner-nav-div {
    width: 80%;
  }
}

@media only screen and (max-width: 1374px) {
  #nav-bar {
    height: 70px;
  }

  #nav-clearance {
    margin-top: 72px;
  }

  #nav-logo {
    height: 40px;
    width: 138px;
  }

  #nav-form {
    height: 75%;
    width: 80%;
  }

  #nav-search {
    font-size: 16px;
  }

  #nav-right {
    width: 85%;
  }

  .nav-icon-link {
    font-size: 30px;
  }

  #nav-prof-pic {
    height: 40px;
    width: 40px;
  }

  #nav-drop-content {
    width: 350px;
  }

  .nav-drop-links {
    font-size: 25px;
  }

  .nav-link-txt {
    font-size: 25px;
  }

  #inner-nav-div {
    width: 85%;
  }
}

@media only screen and (max-width: 1200px) {
  #nav-bar {
    height: 75px;
  }

  #nav-clearance {
    margin-top: 77px;
  }

  #nav-logo {
    height: 45px;
    width: 153px;
  }

  #nav-form {
    width: 85%;
  }

  #nav-search {
    font-size: 17px;
  }

  #nav-right {
    width: 90%;
  }

  .nav-icon-link {
    font-size: 31px;
  }

  #nav-prof-pic {
    height: 45px;
    width: 45px;
  }

  #nav-drop-content {
    width: 360px;
  }

  .nav-drop-links {
    font-size: 30px;
  }

  .nav-link-txt {
    font-size: 30px;
  }

  #inner-nav-div {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  #nav-bar {
    height: 80px;
  }

  #nav-clearance {
    margin-top: 82px;
  }

  #nav-logo {
    height: 50px;
    width: 158px;
  }

  #nav-form {
    width: 90%;
  }

  #nav-search {
    font-size: 18px;
  }

  #nav-right {
    width: 95%;
  }

  .nav-icon-link {
    font-size: 33px;
  }

  #nav-prof-pic {
    height: 50px;
    width: 50px;
  }

  #nav-drop-content {
    width: 380px;
  }

  .nav-drop-links {
    font-size: 35px;
  }

  .nav-link-txt {
    font-size: 35px;
  }

  #inner-nav-div {
    width: 95%;
  }
}

@media only screen and (max-width: 1030px) {
  #nav-bar {
    height: 130px;
  }

  #nav-clearance {
    margin-top: 140px;
  }

  #nav-logo-link {
    justify-self: center;
  }

  #nav-logo {
    margin-left: 20px;
    height: 55px;
    width: 183px;
  }

  #nav-search {
    font-size: 19px;
  }

  #nav-right {
    width: 100%;
  }

  #nav-form {
    width: 90%;
    height: 40%;
  }

  .nav-icon-link {
    font-size: 60px;
  }

  #nav-prof-pic {
    height: 65px;
    width: 65px;
  }

  #nav-drop-content {
    width: 400px;
  }

  .nav-drop-links {
    font-size: 40px;
  }

  .nav-link-txt {
    font-size: 40px;
  }

  #inner-nav-div {
    width: 100%;
    grid-template-columns: 1fr 1fr 1.5fr;
  }
}

@media only screen and (max-width: 1000px) {
  #nav-form {
    display: none;
  }

  #nav-mobile-search {
    display: block;
  }

  #nav-home-icon-link {
    display: none;
  }

  #inner-nav-div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 970px) {
  #nav-form {
    width: 75%;
  }
}

@media only screen and (max-width: 880px) {
  #nav-form {
    width: 80%;
  }

  #inner-nav-div {
    grid-template-columns: 0.5fr 1fr 1fr;
  }
}

@media only screen and (max-width: 760px) {
  #nav-form {
    width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  #nav-right {
    width: 85%;
  }
}

@media only screen and (max-width: 550px) {
  #nav-right {
    width: 100%;
  }
}
