<div id="new-post-container">

  <div id="np-inner-div">
    <div id="post-type-links-div">
      <p class="new-post-fp"><i class="fas fa-image"></i> Image</p>

      <%= link_to new_video_post_path, class: "new-post-link-to-video" do %>
        <i class="fas fa-video"></i> Video
      <% end %>
    </div>
    

    <%= render "form" %>
  </div>

  <%= link_to "Back", current_user, id: "new-post-back-link" %>
</div>

