<p>Hello <%= @resource.username %>,</p>
<br />
<p>
  Sorry to hear you're having trouble logging into Instagram. We can help you get straight back into your account.
</p>

<%= link_to "Change my password", edit_password_url(@resource, reset_password_token: @token) %>

<style>
  * {
    font-family: "Montserrat", sans-serif;
  }

  a {
    background-color: #004daa;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    text-decoration: none;
    text-align: center;
    width: fit-content;
  }
</style>
