#forgot-password-container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fp-div {
  border: 1px solid rgb(255, 255, 255);
  background-color: black;
  width: 22%;
  max-width: 410px;
}

#fp-inner-div {
  padding: 50px 50px 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fp-lock-icon {
  font-size: 55px;
  border: 3px solid white;
  padding: 25px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.forgot-password-title {
  margin-bottom: 20px;
}

.forgot-password-p {
  font-size: 14px;
  text-size-adjust: none;
  margin-bottom: 20px;
}

.forgot-password-form {
  width: 100%;
  margin-bottom: 40px;
}

.forgot-passsword-email-field {
  background-color: rgb(32, 32, 32);
  color: white;
  border: 1px solid white;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 35px;
  font-size: 17px;
  padding: 5px;
  outline: none;
}

#forgot-password-btn {
  background-color: #004daa;
  border: 0px;
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 13px;
  text-size-adjust: none;
  font-weight: 900;
}

.fp-or {
  margin-bottom: 20px;
  font-size: 13px;
}

.fp-create-new-link {
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 60px;
}

.fp-login-link {
  display: block;
  width: 100%;
  padding: 15px 50px 15px 50px;
  background-color: rgb(32, 32, 32);
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
}

@media only screen and (max-width: 1700px) {
  #fp-div {
    width: 24%;
  }
}

@media only screen and (max-width: 1600px) {
  #fp-div {
    width: 26%;
  }
}

@media only screen and (max-width: 1500px) {
  #fp-div {
    width: 28%;
  }
}

@media only screen and (max-width: 1400px) {
  #fp-div {
    width: 30%;
  }
}

@media only screen and (max-width: 1300px) {
  #fp-div {
    width: 32%;
  }
}

@media only screen and (max-width: 1200px) {
  #fp-div {
    width: 34%;
  }
}

@media only screen and (max-width: 1100px) {
  #fp-div {
    width: 36%;
  }
}

@media only screen and (max-width: 1000px) {
  #fp-div {
    width: 100%;
    border: 0px;
  }

  #fp-inner-div {
    padding: 70px 70px 0 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .fp-lock-icon {
    font-size: 100px;
    border: 5px solid white;
    padding: 50px;
    margin-bottom: 40px;
    text-size-adjust: none;
  }

  .forgot-password-title {
    font-size: 50px;
    margin-bottom: 40px;
  }
  
  .forgot-password-p {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .forgot-password-form {
    margin-bottom: 80px;
  }

  .forgot-passsword-email-field {
    margin-bottom: 40px;
    height: 80px;
    font-size: 40px;
    padding: 20px;
  }
  
  #forgot-password-btn {
    padding: 20px;
    font-size: 35px;
  }
  
  .fp-or {
    margin-bottom: 40px;
    font-size: 35px;
  }
  
  .fp-create-new-link {
    font-size: 35px;
    margin-bottom: 120px;
  }
  
  .fp-login-link {
    padding: 30px 100px 30px 100px;
    font-size: 35px;
  }
}